<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="ConnectionString" value="Server=192.168.1.100\SQLEXPRESS2017"/>
    <!--<add key="ConnectionString" value="Server=NEWPC\SQL2008R2EXPRESS,1433"/>-->
    <!-- <add key="Connection" value="Server=NEWPC\SQL2008R2EXPRESS" />-->
    <!-- <add key="Connection" value="Server=TESTPC" />-->
    <!-- <add key="Connection" value="Server=T530,53381\SQL2008R2EXPRESS" />-->
    <add key="Application_Name" value="AvicatCom_AllInOnePaymentSolutions"/>
    <add key="MapDrive" value="J:"/>
    <add key="ReportAttachmentPath" value="\Reports"/>
    <add key="PC" value="0"/>
    <add key="DisplayMSG" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <add name="EventLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="AvicatCom_AllInOnePaymentSolutions"/>
    </sharedListeners>
  </system.diagnostics>
  <!--Add useLegacyV2RuntimeActivationPolicy="true" in order to make the Crystal Report work Might need to find out more about it-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
